<h2>Annotated view of: <%= @uri %></h2>
<style type="text/css">
span.und { text-decoration: underline }
span.anno { background-color: yellow }

</style>
<h2 style="color: red"><%= @msg %></h2>
<%= simple_format @text %>

