<h1>Harvested links for: </h1>
<p>Found <%= @annos.count %> new annotations in remote repository, and <%= @existing %> annotations I already know about.</p>
<% if @annos.count > 0 %>
<h2>Dumping new annotations:</h2>
<ol>
<% @annos.each do |a| %>
<li><%= a %>
<% end %>
</ol>
<% else %>
<h2>Reset?</h2>
So maybe you want to <b><%= link_to 'reset harvested annotations', reset_text_path(@text) %></b> to enable interesting harvesting again?
<% end %>
